@model BDLab3.Models.Department

@{
    ViewBag.Title = "EditDep";
}

<div class="h4" align="center">
    @using (Html.BeginForm())
    {
        <h2>Изменить отдел</h2>
        <fieldset>
            <br />
            @Html.HiddenFor(m => m.Id)
            <p>
                @Html.LabelFor(m => m.Name, "Название отдела: ")
                @Html.EditorFor(m => m.Name)
                <input type="submit" value="Изменить" />
                <br />
                <br />
        </fieldset>
    }
<br />
    @Html.ActionLink("Вернуться назад", "Departments")
</div>

